body{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    margin: 20px;
}
header{
    height: auto;
    padding:0;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header i.icon{
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 10;
    display: none;
    color: #7cb62f;
}
.header .logo-nav ul{
    display: flex;
    justify-content: space-around;

}

.header .logo-nav ul li{
    margin: auto;

}

.logo-nav h2{
    padding-top: 20px;
    font-size: 32px;
    color: white;
}


.header .logo-nav ul li img{
    border-radius: 50px;
    position: absolute;
    right: 10px;
    top: 25px;
    z-index: 20;
    display: none;
    

}

.header .logo-nav ul li a{
    color: white;
    font-size: 20px;
    padding: 15px 0;
    margin: 9px 0;
    display: block;
    transition: all 0.4s ease-in-out;

}

.header .logo-nav ul li a:hover{
     color: blue;

}

@media (max-width:810px) {

    header i.icon{
        display: block;
    }

    .header .logo-nav ul{
        display:block ;
        text-align: center;
        padding: 0;
    }

    .header .logo-nav ul .list{
        display:none ;
        text-align: center;
        padding: 0;
    }

    .logo-nav h2{
        margin: 0;
        padding: 30px;
        font-size: 32px;
    }
    header{
        margin: 0;
        background: #0F172A;
    }

}

.home{
    height: 650px;
    width: 100%;
    background: url(./assets/img/background/background_img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-content .home-title{
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
}

.home-content .home-desc{
    font-size: 25px;
    color: white;
}

@media (max-width: 575px){
    .home-content .home-title{
        font-size: 25px;
    }
    .home-content .home-desc{
        font-size: 18px;
    }

    .btn{
        margin: 20px;
    }

    .outils .outils-list{
        display: block;
    }

    .outils .outils-list .list-outil{
        margin: 50px auto;
        width: 300px;
    }

    .doc-desc .doc{
        display: block;
    } 

    .doc-desc .doc .doc-list{
        margin: 20px auto;
    }

    .documentation .doc-desc{
        min-height: 1600px;
    
    }
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

/* Ajouter dans JS */
.sticky{
    background-color: #0F172A;
    color: #fff;
}


/* Fin */

.btn {
    font-size: 20px;
    background: #7cb62f;
    border: 1px solid #7cb62f;
    border-radius: 5px;
    margin: 10px 10px ;
    width: 150px;
    font-family: lucida sans;
    text-shadow:2px 1px 2px;
    box-shadow:2px -2px 3px 0px;
    transition: all 0.2s ease;
}

.btn:hover{
    font-size: 22px;
    width: 155px;
}

.about .about-header h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.about .about-header p{
    text-align: center;
    font-size: 20px;
    
}

.about-desc ul{
    display: flex;
    justify-content: center;
}

.about-desc{
    width: 90%;
    margin: 20px auto;
    background: #ddd;
    border-radius: 10px;
}

.about-desc ul li p{
    font-size: 20px;
    text-align: center;
    padding: 40px 20px;
    margin:70px auto;
}

.about-desc ul img{
    width: 600px;
    height:400px;
    border-radius: 3px;
}

.line{
    width: 170px;
    height: 3px;
    background-color: #ddd;
    margin: 0 auto;
}

.line span{
    display: block;
    width: 100px;
    height: 5px;
    background-color: #7cb62f;
    margin: auto;
    position: relative;
    bottom: 0.5px;

}

.outil-header h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}


.outil-header p{
    text-align: center;
    font-size: 20px;
}

@media (max-width:1000px){

    .about-desc ul{
        display: block;
        text-align: center;
    }

    .about-desc ul img{
        width: 90%;
        margin: 0;
        padding-bottom: 20px;

    }

    .game_kdo-desc-tof .desc-tof{
        display: block;
        text-align: center;
    }

    .game_kdo-desc-tof .desc-tof img{
        width: 90%;
        margin: auto;
        padding-bottom: 20px;
    }


}

@media (min-width: 1000px){

     .outils .outils-list .list-outil{
        margin: 40px;
        width: 95%;
    }
    .outils .outils-list .list-outil img{
        height: 200px;
    }
}

/* Outils */
.outils ul{
    display: flex;
    text-align: center;
}
.outils ul .list-outil{
    list-style: none;
    height: 350px;
    width: 100%;
    background: #ddd;
    margin: 10px;
    border-radius: 7px;
    text-align: center;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);

}

.outils ul .list-outil:hover{
    transform: translateY(-15px);

}


.outils ul .list-outil img{
    height: 150px;
    width: 100%;
    border-radius: 7px 7px 0 0;
    background: #fff;
}

.outils ul .list-outil p{
    margin: 30px 0;
}


.game_kdo-title h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

.game_kdo-title p{
    text-align: center;
}

.game_kdo-desc-tof ul{
    display: flex;
}

.game_kdo-desc-tof ul li p{
    font-size: 20px;
}

.game_kdo-desc-tof ul img{
    width: 600px;
    height: 400px;
    border-radius: 5px;
}


/*Dans Outils-Documentatiton */
.documentation .doc-desc{
    height: 1000px;
    width: 90%;
    margin: 40px auto;
    border-top: #7cb62f solid 2px;
    border-bottom: #7cb62f solid 2px;
    
}



.doc-desc ul{
    display: flex;
    justify-content: center;
} 

.doc-desc h3{
    text-align: center;
    font-size: 1.2rem;
    font-family: lucida sans;
    margin-bottom: 0;
}

.doc-desc p{
    text-align: center;
    font-size: 1rem;
    font-family: lucida sans;
    margin-top: 4px;
}

.doc-desc ul li{
    margin: 0px 40px 20px 40px;
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    width: 250px;
}

/* footer CSS */
footer {
    background-color: #0F172A;
    padding: 20px;
    text-align: center;
    height:100%;

}

footer h3 {
    margin-bottom: 20px;
    color: #ffffff;
    padding:  0.1%;
}
footer p{
    color: #ffffff;
    margin-bottom: 20px;
}

footer section {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin: 0 1%;
    height: 100%;
}

footer img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.lien {
    margin-top: 10px;
}

.imageLien {
    width: 30px;
    margin: 0 5px;
    border: 10px;
}

.imageLien:hover{
    transform: scale(1.1);
    }

#Data{
display: inline-block;
height: 10rex;
}
footer #Date p{
    padding: 5px;
    margin:0vmax;
    color: white;
}
#PhotBless{
    height: 130pX;
    width: 100px;
}
#MotDeBasDePage{
    text-align: left;
    font-size: 70%;
    padding-left: 0cap;
    margin-right: 10%;

}
#MotDeBasDePageDroit{
    text-align:right;
    font-size: 70%;
    margin-left: 40%;
    padding-right: 0cap;
    margin-bottom: 0%;
}

@media (max-width: 768px) {
    footer{
        margin-top: 10px;
    }
    .Footer {
        flex-direction: column;
        align-items: center;
        background-color: #0F172A;
        padding: 20px;
        display: flex;
    }
    .imageLien:hover{
        transform: scale(1.1);
    }

    footer section {
        width: 100%;
        max-width: 300px;
        margin-bottom: 10%;
    }

    .BasDePage {
        flex-direction: column;
        text-align: center;
        display: block;
        margin-bottom: 0%;
        margin-top: 0.5%;
    }
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
}
